*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	height: 500px;
	width: 500px;
}
.slider{
	height: 500px;
	width: 500px;
	margin: 20px auto;
	position: relative;
	border: 10px solid white;
	box-shadow: 0px 0px 5px 2px #ccc;

}
button{
	padding: 20px;
	border: none;
	font-size: 30px;
	background-color: #37f;
	color: white;
	position: absolute;
	top: 50%;
}
.next{
	border-radius: 10px 0px 0px 10px;
	margin-left: 443px;
}
.prew{
	border-radius: 0px 10px 10px 0px;
}